table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #dddddd;
}

.add_meal_form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add_meal_form_line {
    display: flex;
    flex-direction: line;
    gap: 5px;
}